.toggle-button {
    position: relative;
    display: inline-block;
    color: #fff;
}

.toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.toggle-button input {
    display: none;
}

.toggle-button--vesi label {
    line-height: 10px;
    transition: all 0.1s;
    border-radius: 0.5rem;
}

.toggle-button--vesi input[type=checkbox]+label {
    width: auto;
    color: #FF5335;
    font-size: 14px;
    border: 1px solid #FF5335;
}

.toggle-button--vesi input[type=checkbox]:checked~label {
    width: auto;
    color: #fff;
    background: #FF5335;
}

@media screen and (max-width: 600px) {
    .toggle-button--vesi label {
        line-height: 19px;
        padding: 5px;
    }
    .toggle-button--vesi input[type=checkbox]+label,
    .toggle-button--vesi input[type=checkbox]:checked~label {
        width: auto;
    }
}